.conversion-list {
    height: 680px;
    width: 90%;
    margin: 30px;
    /* background-image: URL(/assets/blackboard.png); */
    background-size: cover;
    overflow-y: scroll;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    /* box-shadow: 0px 0px 10px 0px black; */
}
a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 1900px;
    margin: auto;
}

li {
    padding: 50px;
    border: 10px;
    /* background: rgb(91, 5, 255); */
    border-bottom: dotted;
    font-size: 25px;
    margin: 50px 50px;
}

.image {
    z-index: 1;
    padding-top: 20px;
}

.conversion-container {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 800px;
    width: 1200px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-size: cover;
    background-image: URL(/assets/blackboard.png);
    box-shadow: 10px 10px 5px black;
}
