main {
    display: grid;
    grid-template-columns: 300px 200px 1fr;
    gap: 50px;
}

.profile-layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;
}

#profile-details {
    width: 1000px;
    height: 700px;
    background: var(--offset-color);
    border: 1px solid white;
    display: grid;
    grid-template-rows: 150px 1fr;
    padding: 20px;
    overflow: scroll;
}
.avatar-image {
    width: 80px;
    border-radius: 50%;
    height: 80px;
    object-fit: cover;
}

.logged-list {
    /* background-color: aqua; */
    margin-top: 50px;
}

/* .image {
    display: flex;
    margin-bottom: 100px;
} */

.profile-post-title {
    font-size: 2rem;
    text-decoration: underline;
}

.profile-data {
    margin-bottom: 400px;
}
